/.Rproj.user
.Rproj.user

# Project libraries
ProjectLibrary/*
# Dont back up large figures and .html output
*.RData
Scripts/*.html
Results/ExploratoryDataAnalysis/*.pdf
Results/BaseModel/*.png
Results/CovariateModel/*.png
# Info about nonmem runs 
Models/*tab*
Models/*.phi
Models/*.ext
Models/*.cov
Models/*.coi
Models/*.cor
Models/*.lst
Models/MSF*
Models/*/
Results
psn-*
hostfile*
submitscript*
Models/dir*
Models/parafile*
